
<table class="container" border="5px">
  <pre>
       <h3>About Me:</h3>
       <h4>
        An Independent and self-motivated professional with excellent
        communication skills, enthusiasm to learn new things and always
        try to do  my best in any work assigned.

       </h4>
       <h3>Eductaion:</h3>

       <h4>
      2017-2021     B.Tech(K L University)
                    Majoring in Computer Science Engineering(Specalization:Software Engineering)

      2015-2017     Intermediate(SriChaitanya Junior College)
                    Majoring in MPC - 90%

      2014-2015     High school(Narayana)
                    SSC - 9.8 Gpa

       </h4>
  </pre>
  </table>
