
<table class="container" border="5px">
  <pre>
       <h3>Introduction:</h3>
       <h4>
        iPhone 11 is one of the top selling smartphones that is available at a
        starting price of Rs 49,999. You can buy this smartphone in Green, Red,
        Black, White, Yellow, and Purple color options in different storage options.
         This lightweight and easy to carry phone weighs approximately 194 grams.
       </h4>
       <h3>Samsung Galaxy A21s specs:</h3>

       <h4>
        Liquid Retina HD display
        15.5 cm / 6.1‑inch (diagonal) all-screen LCD Multi-Touch display with IPS technology
        1792x828‑pixel resolution at 326 ppi
        1400:1 contrast ratio (typical)
        True Tone display
        Wide colour display (P3)
        Haptic Touch
        625 nits max brightness (typical)
        Fingerprint‑resistant oleophobic coating
        Support for display of multiple languages and characters simultaneously
       </h4>
  </pre>
  </table>
