
<table class="container" border="5px">
<pre>
     <h3>Introduction:</h3>
     <h4>
       It is a tough job keeping up the Galaxy A series even for us, let alone for a
       regular user. There is one simple rule though - the lower the model number, the cheaper the phone.
       And the new Galaxy A21s isn't an exception - it's one very affordable smartphone with enough punch
       to make it an attractive offer.
     </h4>
     <h3>Samsung Galaxy A21s specs:</h3>

     <h4>
      Body: 163.7 x 75.3 x 8.9 mm, 192g; Plastic body and frame.
      Display: 6.5" PLS TFT, 720 x 1600 px resolution, 20:9 aspect ratio, 270ppi.
      Chipset: Exynos 850 (8nm): Octa-core Cortex-A55@2.0GHz; Mali-G52 MP1.
      Memory: 3/4/6GB RAM; 32/64GB eMMC 5.1 storage; microSDXC (dedicated slot).
      OS/Software: Android 10, One UI 2.1.
      Rear camera: Wide (main): 48 MP, f/2.0, 26mm, 1/2.0", 0.8µm, PDAF; Ultrawide: 8 MP,
                   f/2.2, 123°, 1/4.0", 1.12µm; Macro: 2 MP, f/2.4, fixed focus at 4cm;
                   Depth: 2 MP, f/2.4; LED flash, panorama, Auto HDR.
      Front camera: 13 MP, f/2.2.
      Video capture: Rear camera: 1080p@30fps; Front camera: 1080p@30fps.
      Battery: 5,000mAh; Fast charging 15W.
      Misc: Fingerprint scanner (rear-mounted), accelerometer, gyro, proximity,
            compass; FM radio, RDS, recording, NFC, 3.5mm jack.
     </h4>
</pre>
</table>
