<nav class="navbar navbar-expand-md bg-dark navbar-dark">
   <!-- Brand -->
  <a class="navbar-brand" href="#">Navbar</a>

   <!-- Toggler/collapsibe Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

   <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink='/java' routerLinkActive='active'>Products</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink='/web' routerLinkActive='active'>Employees</a>
      </li>
    </ul>
  </div>
</nav>


<router-outlet></router-outlet>


<!-- <app-react-forms1></app-react-forms1> -->

<!-- <h2>App Component</h2><hr>
welcome {{title}} -->

<!--
<app-twoway-binding></app-twoway-binding>
<app-interpolation>

</app-interpolation>
<app-event-binding></app-event-binding>
<app-property-binding></app-property-binding>
 -->
<!-- <app-calculator></app-calculator> -->
<!-- <app-pipes></app-pipes> -->

        <!-- <app-products>
        </app-products> -->


        <!-- <app-prem>
        </app-prem> -->
         <!-- <app-pipes></app-pipes>  -->
        <!-- <app-products>
        </app-products> -->
        <!-- <app-struct-directives></app-struct-directives> -->
<!-- <app-calculator1></app-calculator1> -->
<!-- <div>
  <h1>Parent Component</h1>
  <app-parent></app-parent>
</div> -->
<!-- <app-parent1></app-parent1> -->
<!-- <app-first1></app-first1><hr>
<app-second1></app-second1> -->
<!-- <app-react-forms></app-react-forms> -->
<!-- <app-template-driven-form1></app-template-driven-form1> -->
